body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  background: url('img/bg_bare.png') no-repeat center center fixed;
  background-size: cover;
  opacity: 0;
  animation: bodyFadeIn .5s linear forwards;
}
@keyframes bodyFadeIn {
  to {opacity: 1}
}
#canvas, #scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
img#clouds {
  position: absolute;
  top: -2%;
  left: -700px;
  width: 100%;
  animation: float 50s linear forwards;
  z-index: -1;
}
@keyframes float {
  to {transform: translateX(2880px)}
}
img#mountains, img#cherry_blossoms {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0%;
}
